header {
    height: 70px;
    background-color: #A3A656;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 20px;
}

header a.Menu:hover {
    color: #FFFF00;
}

.left-links, .right-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

input[type="text"]{
    border:none; 
    height: 60px;
    width: 400px;
    border-radius: 15px;
    padding-left: 20px;
}

.clickable {
    cursor: pointer;
}

.contenedor-servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
    gap: 134px;
}

.carta-servicio{
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.carta-servicio img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.header-servicio{
display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A3A656;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 80px;
}


.footer-servicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color: #A3A656;
    color: white;
    border: none;
    padding: 14px 40px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 35px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #384001;
    cursor: pointer;
}

.seccion-planes{
    height: 770px;
    background-color: #F2F6F6;
}
























.Titulo1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
}

.Titulo2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600; /* SemiBold is equivalent to font-weight 600 */
    font-size: 32px;
}

.Miniatura {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.Menu {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}
.Normal {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.Placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #9E9A9A;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 97px;
    background-color: #384001;
    padding-left: 70px;
    padding-right: 40px;
}

footer .left-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
footer .right-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
footer .Menu{
    color: #A3A656;
}

footer a.Menu:hover {
    color: #FFFF00;
}